SIGMUS_PULLED_DATA_ROOT=/absolute/path/to/pulled_data
SIGMUS_CCTV_LOCATIONS=/absolute/path/to/sigmus/resources/cctv.kml
SIGMUS_WEATHER_LOCATIONS=/absolute/path/to/sigmus/resources/owm_locations.txt
POSTGRES_PASSWORD=replace_me
NEO4J_PASSWORD=replace_me
OPENAI_API_KEY=replace_me
GOOGLE_PLACES_API_KEY=replace_me
